{% extends "index.html" %}
{% load static%}
{% block title %}RecruiterApp{% endblock %}
{% block content %}
    <center>
        <img src='{% static "images/mainImage.jpg" %}' style='width:100%'>
        <br>
        <br>
        <br>
        <h3 class='text-primary'>New beginnings start here.</h3>
    </center>
    <p>What's an entry-level job, and how do you get one? Entry-level jobs are lower-level positions that typically require less experience and responsibility. People in entry-level jobs often receive training from those in more senior positions or participate in a formal on-the-job training program.


        If you are just starting out in your career, or are switching industries, an entry-level job is typically the way to go. What are the best jobs for someone just starting their career? The answer is: “it depends.”
        
        
        One size obviously doesn't fit all when it comes to what is considered a "best" job. It's very personal. However, it’s a good idea to get a rough sense of what entry-level jobs are available when you’re launching your career. Learn about some of the top entry-level positions across industries and discover your options. 
    </p>
    &nbsp;
    &nbsp;
    &nbsp;
    <p>After all, recruiters see hiring and training graduates as an investment in the future. They know not all their graduate hires will stay with them long term, but will be looking for at least some of them to do so. They will be interested to know if you see yourself continuing to work for the company after your graduate scheme has finished and whether you have given any thought to how your career might develop with them.</p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <center>
        <img src='{% static "images/recruit1.jpg"%}' style="width:45%;padding:5%">
        <img src='{% static "images/recruit3.jpg"%}' style="width:40%;height:110%">
    </center>

    <h2 class="text-primary"><center>
        Our Recruitment Procedure
    </center></h3>
    <br>
    <h4>
        <ul style:"margin:20%;">
            <li>
                Fill the application form
            </li>
            <li>
                Upload Your Resume
            </li>
            <li>
                Online Converation
            </li>
        </ul>
    </h4>
    <center>
        <img src='{% static "images/recruit2.jpg"%}' style="width:45%;padding:5%"><br>
        <button type="button" class='btn btn-primary btn-lg'>Apply Now</button>
    </center>
    
{% endblock %}