{% load static %}  
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">  
    <title>RecruiterApp</title>  
    {% load static %}  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="{% static 'bootstrap/css/bootstrap/bootstrap.min.css' %}" >  
    <link href="{% static 'stylesheets/style.css' %}" >  

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>  
</head>

<body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" style="position:fixed-top">
        <a class="navbar-brand" href="#">RecruiterApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <div class="col-md-9">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About</a>
                    </li>      
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="navbar-nav mr-auto" style="text-align: right;">
                    <li class="nav-item active">
                        <a class="nav-link" href="/register">
                            <button type="button" class="btn btn-info">
                                Register
                            </button> 
                        <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " href="/login">
                            <button type="button" class="btn btn-info">
                                Login
                            </button> 
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
        
        
        <div >
            <!-- "content" block that pages are expected to override -->
            {% block content %}
            {% endblock %}
            <hr />
            <footer style="background-color: #ccc;">
                <center>
                    <br>
                    <div class="col-md-4">
                        <p class="text-primary">&copy;John Micheal
                            <br> Address: Buildin No.20
                            <br>Belgaum
                            <br>INDIA
                       </p>
                    </div>
                    <div class="col-md-2">
                        <p class="text-primary">&copy;RecruiterApp</p>
                    </div>
                </center>
                <br>
            <br>
            <br>
            <br>
            </footer>
            
        </div>
    </div>

  
</body>
</html>